/* src/styles/App.css */

.App {
  padding-top: 60px;
}

.section-title {
  font-size: 1.8rem;
  margin: 40px 20px 10px;
  font-weight: bold;
}

.movie-section {
  margin: 0 20px 40px;
  overflow-x: auto;
  display: flex;
  gap: 20px;
  scroll-snap-type: x mandatory;
}
